.modal{
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left:0;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition:0.5s;
  &__content{
    padding: 40px;
    border-radius: 12px;
    background-color: white;
    transform:scale(0.5);
    transition:0.4s all;
    width:50vw;
    &.active__modal{
      transform:scale(0.5);
    }
  }
  &.active__modal{
    opacity: 1;
    pointer-events: all;
  }
}
