.weatherItem{
  display:flex;
  justify-content: space-between;
  padding:10px;
  border:1px solid rgb(11, 126, 161);
  align-items: center; 
  border-radius:15px;
  max-width:1200px;
  margin:15px auto;
}
.weatherItem img{
  margin-top:-10px;
}
.check{
  text-decoration: none;
}
.delButton{
  margin-left: 60px;
}
.cityInformation{
  color:black;
  border-radius: 5px;
}
.info{
  margin-bottom:5px;
  background-color: #fff;
  border-radius:50px;
  border:1px solid black;
}
.info:hover{
  background-color: rgb(74, 153, 107);
  color:#fff;
}
