.app__header{
  background-color: #E0E5FF;
  padding:15px;
}
.app__header ul{
  display:flex;
  justify-content: right;
  margin-right: 30px;
}
.app__header li{
  list-style-type: none;
  margin:0 8px;
}