.search-panel{
  background-color: #85A0D6;
  margin:10px auto;
  max-width:800px;
  min-height: 150px;
  border:1px solid #85A0D6;
  border-radius: 15px;
  padding:20px 10%;
  
}
.search-panel input{
  background: transparent;
  border:1px solid #fff;
  border-radius:15px;
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
}
.search-panel button{
  margin-top:10px;
  background-color: #fff;
}