.weatherBlock{
  max-width: 800px;
  max-height:500px;
  border-radius: 15px;
  border:1px solid #85A0D6;
  padding:15px;
  margin:30px auto 0;
 
}
/* .Block{
  background: url('https://countryflagsapi.com/png/brazil') no-repeat center center;
} */
.weatherBlock h3{
  margin-bottom: 20px;
}
.weatherByDays{
  display: flex;
  justify-content: space-between;
}
.weatherByDays .weatherBlock{
  border:1px solid #85A0D6;
  min-width: 48%;
  min-height: 40px;
  padding:95px 40px;
  
}
.Spinner{
 display: flex;
 justify-content: center;
 margin-top: 150px;
}
.weatherBlock span{
  display:block;
}