.Food__Page{
  // border:1px solid #85A0D6;
  padding:70px 70px 70px 55px;
  margin-top: 30px;
  border-radius: 15px;
}
.Food__Page__Input{
  display: flex;
  text-align: center;
  margin-top: 20px;
  Button{
    margin-left: 20px;
  }
}
.Food__Page__Search{
  display:flex;
  justify-content: center;
}

  