.NavBar{
  margin-top: 20px;
  a{
    margin-left:5px;
  }
  button{
    padding:0 20px;
    background-color: #fff;
    
  }
  .active{
    background-color: #fff;
  }
  svg{
    border:1px solid black;
    border-radius:10px;
    width:150px;
    path{
      margin:105px;
    }
  }
}