.convertBlock{
  
  display:flex;
  justify-content: space-evenly;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.convertResult button{
  background-color: #fff;
  padding:5px 20px;
  border-radius: 50px;
  border:1px solid black;
  margin-top:50px;
}

.convert{
  display:block;
  padding:50px;
  border:1px solid black;
  border-radius:15px;
  max-width: 1000px;
  margin:20px auto;
}

.convert-input{
  padding:10px;
 
}
input{
  display:block;
  
}

select{
  display:block;
  padding:10px;
}